doctype html
html(lang="en")
    head 
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Agrega tu e-mail para reestablecer la contrasenia 

            if locals.mensajes 
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p=error 

            form.caja-login(method="POST" action="/reestablecer")
                .campo 
                    label(for="email") Email: 
                    input(type="email" name="email" placeholder="Tu email" value= email required)
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer Contrasenia")
                .campo.acciones 
                    a(href="/iniciar-sesion") Recordaste tu contrasenia? Inicia Sesion
                