doctype html
html(lang="en")
    head 
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Coloca tu Nueva Contrasenia 

            form.caja-login(method="POST")
                .campo 
                    label(for="password") Password: 
                    input(type="password" name="password" placeholder="Nueva contrasenia" required)
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer Contrasenia")
                